<% if can? :update, @activity_note %>
<h1>Editing Activity Note</h1>

<%= render 'form', activity_note: @activity_note %>

<%= link_to 'Show', @activity_note %> |
<%end%>
<%= link_to 'Back', activity_notes_path %>

